AI-Powered Email Assistant.json
{
  "name": "AI-Powered Email Assistant",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "f92d820c-4667-441d-9a65-90e9ea93e389",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "8g0VxSA5rbu8U81I",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are an expert customer service AI assistant. Analyze the incoming email body. \n\nDetermine the appropriate action based on these rules:\n1. If the email is a simple query, an FAQ, or a standard request, set action_required to \"Auto-Respond\" and draft a polite, professional reply.\n2. If the email is a complex technical issue, an angry complaint, or a custom business request, set action_required to \"Create-Draft\" and draft a helpful response for a human agent to review.\n\nFormat your response strictly using the provided structured output parser.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "f793dc12-a880-4b38-8c44-9490e78b0817",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        80,
        208
      ],
      "id": "5da90e0c-9362-49b4-b0bf-6e915046e254",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "vUNtR3ASVwieAltj",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "94f3fcf7-f31f-4c9e-8d9c-d294d1eb4b6a",
              "leftValue": "={{ $json.action_required }}",
              "rightValue": "Auto-Respond",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        560,
        0
      ],
      "id": "b26cd230-406e-4f75-976b-0793516b45ab",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        768,
        -96
      ],
      "id": "91d8d471-75ab-40ec-a6a1-906a7cf164e0",
      "name": "Send a message",
      "webhookId": "99496e9c-ca10-49d5-8650-5a7e4ad602bc",
      "credentials": {
        "gmailOAuth2": {
          "id": "8g0VxSA5rbu8U81I",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        768,
        96
      ],
      "id": "45cd2968-2490-433f-800e-cc989e54fb7a",
      "name": "Create a draft",
      "webhookId": "c99bb418-8f5f-4aed-9b5a-cfa93dbe8c4f",
      "credentials": {
        "gmailOAuth2": {
          "id": "8g0VxSA5rbu8U81I",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "37baec19-988d-47e3-a292-f2833b5c89fd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "76b0284800f70eb4e443933fb964b42bde29ade1b165630b0a870940432ca835"
  },
  "nodeGroups": [],
  "id": "xinTSi4eIb5g6egk",
  "tags": []
}