My workflow 11.json
{
  "name": "My workflow 11",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "b842f46b-362b-47da-83eb-3c9fc732089a",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        208,
        0
      ],
      "id": "1208787f-a44a-420c-9304-beebbee6213d",
      "name": "When chat message received",
      "webhookId": "ce3a7b13-c8b7-471e-8986-02b9b268db4a"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\"Analyze this customer message: {{ $json.input }}. Respond with ONLY one word. If the message is a complaint or angry, reply 'Angry'. If it is a compliment or neutral, reply 'Happy'.\"",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        416,
        0
      ],
      "id": "0304d4d2-586d-42f5-925a-8af62ef86062",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7728da6e-efc5-44d5-ae41-88fe87968040",
              "leftValue": "={{ $json.output }}",
              "rightValue": "Angry",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        768,
        0
      ],
      "id": "914ddf4e-03eb-4a5f-a868-54d4b26d9811",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        352,
        144
      ],
      "id": "ee22a6e5-d0e4-4141-bc08-a2e0dfe46262",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "vUNtR3ASVwieAltj",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        976,
        -32
      ],
      "id": "f70c809b-c3f0-490b-8004-0df8a42bba2c",
      "name": "Send a message",
      "webhookId": "4881e4d7-9433-45b4-a8ff-e6f0a157a130",
      "credentials": {
        "gmailOAuth2": {
          "id": "8g0VxSA5rbu8U81I",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1aCwiTMjYIH0WAbhgirDn4sUbNApBVVcXuISX3kQX7Vw",
          "mode": "list",
          "cachedResultName": "Decision",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aCwiTMjYIH0WAbhgirDn4sUbNApBVVcXuISX3kQX7Vw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aCwiTMjYIH0WAbhgirDn4sUbNApBVVcXuISX3kQX7Vw/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1088,
        176
      ],
      "id": "3aa4a51c-c737-46e1-830d-f2539624711d",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "J1A8LCVmDBWsO0Fz",
          "name": "Google Sheets account 4"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "b0f6e04f-14c1-4e33-9719-9e59dde2b89b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "76b0284800f70eb4e443933fb964b42bde29ade1b165630b0a870940432ca835"
  },
  "nodeGroups": [],
  "id": "M0RaL7fc9zv2hiLN",
  "tags": []
}